<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        app
    </title>
<link href="/asset/app/app.66aab35b6cc6c998fff5.css" rel="stylesheet"></head>
<body>
    <div id="app"></div>
<script type="text/javascript" src="/asset/app/app.e1e418cfab640742f5ba.js"></script></body>
</html>
